# Packages

In [17]:
import pandas as pd
import seaborn as sns
import numpy as np
from datetime import datetime
import gdown
import plotly.express as px
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt

# Loading dataset

In [ ]:
gdown.download(id="122b3O7GoH2pouBcx411M1h0qegZytNpo")

In [2]:
df = pd.read_csv("../assets/teste_indicium_precificacao.csv")

Antes de fazermos o EDA, é importante já separarmos qual será nossa amostra de treino e teste. Para os dados de teste não enviezarem o EDA e consequentemente, o modelo preditivo

In [5]:
X = df.drop("price", axis=1)
y = df.price

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
df_train = pd.concat([X_train, y_train], axis=1)

In [8]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39115 entries, 38522 to 15795
Data columns (total 16 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             39115 non-null  int64
 1   nome                           39105 non-null  object
 2   host_id                        39115 non-null  int64
 3   host_name                      39096 non-null  object
 4   bairro_group                   39115 non-null  object
 5   bairro                         39115 non-null  object
 6   latitude                       39115 non-null  float64
 7   longitude                      39115 non-null  float64
 8   room_type                      39115 non-null  object
 9   minimo_noites                  39115 non-null  int64
 10  numero_de_reviews              39115 non-null  int64
 11  ultima_review                  31045 non-null  object
 12  reviews_por_mes                31045 non-null  float64
 13  calculado_host_listings_count  39115 non-null  int64
 14  disponibilidade_365            39115 non-null  int64
 15  price                          39115 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 5.1+ MB

In [13]:
df_train_pp = df_train.copy()
df_train_pp = df_train_pp.dropna(subset=['host_name', 'nome'])
df_train_pp['ultima_review_timestamp'] = df_train_pp['ultima_review'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d').timestamp() if pd.notnull(x) else 0)
df_train_pp['reviews_por_mes'] = df_train_pp['reviews_por_mes'].fillna(0)
df_train_pp['ultima_review'] = df_train_pp['ultima_review'].fillna(0)

In [14]:
df_train_pp.info()

<class 'pandas.core.frame.DataFrame'>
Index: 39086 entries, 38522 to 15795
Data columns (total 17 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   id                             39086 non-null  int64
 1   nome                           39086 non-null  object
 2   host_id                        39086 non-null  int64
 3   host_name                      39086 non-null  object
 4   bairro_group                   39086 non-null  object
 5   bairro                         39086 non-null  object
 6   latitude                       39086 non-null  float64
 7   longitude                      39086 non-null  float64
 8   room_type                      39086 non-null  object
 9   minimo_noites                  39086 non-null  int64
 10  numero_de_reviews              39086 non-null  int64
 11  ultima_review                  39086 non-null  object
 12  reviews_por_mes                39086 non-null  float64
 13  calculado_host_listings_count  39086 non-null  int64
 14  disponibilidade_365            39086 non-null  int64
 15  price                          39086 non-null  int64
 16  ultima_review_timestamp        39086 non-null  float64
dtypes: float64(4), int64(7), object(6)
memory usage: 5.4+ MB

In [16]:
df_train_pp.describe()

,id,host_id,latitude,longitude,minimo_noites,numero_de_reviews,reviews_por_mes,calculado_host_listings_count,disponibilidade_365,price,ultima_review_timestamp
count,3.908600e+04,3.908600e+04,39086.000000,39086.000000,39086.000000,39086.000000,39086.000000,39086.000000,39086.000000,39086.000000,3.908600e+04
mean,1.902568e+07,6.735137e+07,40.729070,-73.952376,7.004810,23.257483,1.090446,7.115080,112.951389,153.780100,1.221503e+09
std,1.097892e+07,7.848609e+07,0.054464,0.045882,19.353601,44.424529,1.601385,32.777065,131.723205,244.233104,6.233043e+08
min,2.595000e+03,2.787000e+03,40.499790,-74.242850,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000e+00
25%,9.470534e+06,7.757078e+06,40.690260,-73.983148,1.000000,1.000000,0.040000,1.000000,0.000000,69.000000,1.458788e+09
50%,1.967051e+07,3.064734e+07,40.723450,-73.955730,3.000000,5.000000,0.370000,1.000000,45.000000,106.000000,1.546484e+09
75%,2.917689e+07,1.074344e+08,40.763210,-73.936490,5.000000,24.000000,1.590000,2.000000,227.000000,176.000000,1.560913e+09
max,3.648724e+07,2.743213e+08,40.913060,-73.712990,999.000000,629.000000,58.500000,327.000000,365.000000,10000.000000,1.562555e+09

# EDA

## Pergunta a) Supondo que uma pessoa esteja pensando em investir em um apartamento para alugar na plataforma, onde seria mais indicada a compra?

## Pergunta b) O número mínimo de noites e a disponibilidade ao longo do ano interferem no preço?

## Pergunta c) Existe algum padrão no texto do nome do local para lugares de mais alto valor?

In [ ]:
px.scatter(df_train_pp, x='latitude', y='longitude', color='price', color_continuous_scale='viridis', height=800, width=800)